{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="component component-pageintro without-image">
                <div class="component-content-intro">
                        <div class="single-service--area text-center mb-50">
                                <h1>Tooth Fillings & Dental Filling Procedures</h1>
                        </div>
                        <div class="intro-copy"><p><p>Most people need at least one tooth filling in their lifetime. Dental filling procedures are most commonly used to treat cavities, but they're also used to repair cracked or broken teeth, or teeth that have been worn down over time.</p>
                                <p>Most dental filling procedures feature the following:</p>
                                <ul>
                                <li>Topical anesthetic to numb the area of treatment</li>
                                <li>Decay removal from the affected teeth </li>
                                <li>Tooth restoration using a composite or amalgam filling</li>
                                <li>Bite check to make sure your teeth align comfortably</li>
                                </ul>
                                <p>The team at your DentCare practice will ensure you are comfortable before, during, and after your procedure, and will happily to answer any questions you may have. In addition, here are useful tips for overcoming dental anxiety</a></p></p></div>
                        </div>
                </div>
        </div>
        <div class="component component-richtext white-bg">
                <div class="component-content"></div>
        </div>
        <div class="component component-video">
                <div class="component-content">
                        <div class="single-service--area text-center mb-50">
                                <div class="dento-video-area mb-100">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/T3mLgh-o3b0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                        </div>
                </div>
        </div>
        <div class="component component-richtext white-bg">
                <div class="component-content">
                        <h3>Cracked Tooth</h3>
                        <p>A tooth that is cracked can be painful. It also can lead to disease of the tooth.</p>
                        <p>How do you know if you have a cracked tooth? Look for these signs:</p>
                        <ul>
                                <li>sharp pain when biting down that quickly disappears</li>
                                <li>pain that comes and goes</li>
                                <li>pain when eating or drinking</li>
                                <li>feeling that something is stuck between your teeth</li>
                        </ul>
                        <p>&nbsp;Or you may have no signs at all.</p>
                        <h3>How Can You Tell if a Tooth is Cracked?</h3>
                        <p>It can be hard for you to tell if a tooth is cracked. If you have pain, you may not be able to tell which tooth hurts or whether the pain is from an upper or a lower tooth. Cracks sometimes are invisible to the eye and may not show up on an x-ray. And sometimes you won&rsquo;t have any pain or sensitivity at all; your dentist will discover it during your exam.</p>
                        <p>If you are having symptoms, you can help your dentist find the cracked tooth by sharing some information:</p>
                        <ul>
                                <li>the things that cause you tooth pain (such as heat, cold or foods that are sweet, sour or sticky)</li>
                                <li>the area of the pain</li>
                        </ul>
                        <h3>Why Does a Tooth Crack?</h3>
                        <p>A tooth may crack for many reasons, such as the following:</p>
                        <ul>
                            <li>chewing on hard objects or foods such as pencils, ice, nuts or hard candy</li>
                            <li>an accident, such as a blow to the mouth</li>
                            <li>grinding or clenching of teeth</li>
                            <li>uneven chewing pressure, especially if a nearby tooth is lost</li>
                            <li>loss of tooth structure through wear</li>
                            <li>loss of tooth structure due to large fillings or other restorations</li>
                            <li>exposure of tooth enamel to extreme hot and cold temperatures</li>
                        </ul>
                        <h3>Why Does a Cracked Tooth Hurt?</h3>
                        <p>Sometimes, a crack in the enamel travels through to the nerve pulp. This type of cracked tooth may hurt when you bite down or when you stop biting. The crack may be too small to see, but when it opens, the pulp inside the tooth may become irritated. The pulp is soft tissue inside the center of the tooth that contains the nerves and blood vessels. If the crack extends into the pulp, the tooth may become sensitive to extreme heat and cold.</p>
                        <p>The pulp also can be affected as a result of the crack. If this happens, endodontic (root canal) treatment may be needed to save the tooth.</p>
                </div>
        </div>    
        <div class="component component-richtext white-bg">
                <div class="component-content">
                        <div class="grid">
                                <div class="single-service--area text-center mb-50">
                        <img src="https://mss-p-052-delivery.stylelabs.cloud/api/public/content/ab8b974f90f8408b94fe907437f9da23?v=d661fa92&amp;la=en" class="img-responsive" alt="A small crack in the tooth" />
                        <div class="copy">
                            <p>A small crack in the tooth</p>
                            <br><br><br><br>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div

{% endblock %}  