{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h1 class="text-center">Sign Up For DentCare Online's Newsletter</h1>
			{% if messages %}
				{% for message in message %}
				<div {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">$times;</span></button>
					{{ message }}
				</div>
				{% endfor %}
			{% else %}
			<form method="POST">{% csrf_token %}
				<div class="input-group">
					{{ form }}
					<span class="input-group-btn">
						<button class="'btn btn-default" type="submit">Subsribe</button>
					</span>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
			

{% endblock %}